*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background-color: lightblue;
}

.page-container
{
	position: relative;
	min-height: 100vh;
}

.content-wrapper
{
	padding-bottom: 8%;
}

.header
{
	padding: 2%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.canvas-wrapper
{
	margin: 0 auto;
	width: fit-content;
	border: 1px solid black;
}

.buttons-wrapper
{
	display: flex;
}

.buttons-wrapper button
{
	font-size: 24px;
	background-color: white;
	width: 252px;
	border: 1px solid black;
	padding: 6px;
	margin: -1px -1px 0;
}

.buttons-wrapper button:hover
{
	background-color: #ddd;
}

#linkedlist-button
{
	border-bottom: none;
}

#canvas
{
	display: block;
	background-color: white;
	border-top: none;
}

.functions-wrapper
{
	margin: 3%;
	display: flex;
	justify-content: center;
	gap: 5%;
}

.arg-input
{
	font-size: 22px;
	width: 80px;
	text-align: center;
}

.function-button
{
	font-size: 22px;
}

#stack-functions
{
	display: none;
}

#queue-functions
{
	display: none;
}

#bst-functions
{
	display: none;
}

.page-wrapper
{
	min-height: 101vh;
}

.footer
{
	padding: 2%;
	position: absolute;
	width: 100%;
	outline: 1px double red;
}