*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background-color: #171717
}

.header
{
	padding: 1% 2%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo
{
	font-weight: 300;
}

.logo a, .logo span
{
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.logo a
{
	text-decoration: none;
	color: rgb(69, 69, 69);
}

.logo:hover a
{
	color: rgb(110, 110, 110);
}

.logo-w
{
	color: white;
}

.logo:hover .logo-w
{
	color:red;
}

.logo-d
{
	color: red;
}

.logo:hover .logo-d
{
	color: white;
}

.source-code-button
{
	cursor: pointer;
	font-size: 20px;
	padding: 6px;
	height: 1%;
	border-radius: 8px;
	color: white;
	border: solid white 2px;
	background-color: #171717;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.source-code-button:hover
{
	color: red;
	background-color: white;
}

.canvas-wrapper
{
	margin: 0 auto;
	width: fit-content;
	border: 1px solid black;
}

.buttons-wrapper
{
	display: flex;
}

.buttons-wrapper button
{
	font-size: 24px;
	background-color: #ddd;
	width: 252px;
	border: 1px solid black;
	padding: 6px;
	margin: -1px -1px 0;
}

.buttons-wrapper button:hover
{
	background-color: #ccc;
}

#linkedlist-button
{
	border-bottom: none;
}

#canvas
{
	display: block;
	background-color: #ddd;
	border-top: none;
}

.functions-wrapper
{
	margin: 3%;
	display: flex;
	justify-content: center;
	gap: 5%;
}

.arg-input
{
	font-size: 22px;
	width: 80px;
	text-align: center;
}

.function-button
{
	font-size: 22px;
}

#stack-functions
{
	display: none;
}

#queue-functions
{
	display: none;
}

#bst-functions
{
	display: none;
}

